@model Employee_verification.Models.tblemployee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card-title {
            text-align: center;
            font-family: 'Times New Roman';
            font-size: 2rem;
            font-weight: 600;
        }

        .card-header {
            background-color: #00A9FF;
        }
        .msg {
            font-family:'Times New Roman';
            text-align:center;
            margin-top:2.3rem;
            color:red;
        }
        .btn {
           margin:auto;
        }
    </style>
</head>
<body>
    
    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "employeeForm" }))
    
        {
            <div class="container">
                <div>
                    <div class="card my-4">
                        <div class="card-header">
                            <div class="card-title">Employee Data</div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Employee Name</label>
                                    @Html.TextBoxFor(e => e.employee_name, new { @class = "form-control", placeholder = "Enter Employee Name" })
                                </div>


                                <div class="form-group col-md-6">
                                    <label>Employee Code</label>
                                    @Html.TextBoxFor(e => e.employee_code, new { @class = "form-control", placeholder = "Enter Employee Code" })
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Email Address</label>
                                    @Html.TextBoxFor(e => e.email_address, new { @class = "form-control", type = "email", placeholder = "Enter Email Address" })
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Mobile Number</label>
                                    @Html.TextBoxFor(e => e.mobile_number, new { @class = "form-control", placeholder = "Enter  Moblie Number" })
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Designation</label>
                                    @Html.TextBoxFor(e => e.designation, new { @class = "form-control", placeholder = "Enter Employee Designation" })
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Salary</label>
                                    @Html.TextBoxFor(e => e.salary, new { @class = "form-control", placeholder = "Enter Employee Salary" })
                                </div>


                                <div class="form-group col-md-6">
                                    <label>Password</label>
                                    @Html.PasswordFor(e => e.pass, new { @class = "form-control", placeholder = "Enter Password" })
                                </div>

                                <div class="col-md-6 msg">
                                    <h3>@ViewBag.msg</h3>
                                </div>

                            </div>
                        </div>

                        <div class="card-footer form-row">
                            <button class="btn btn-outline-info col-md-3" type="submit">Submit</button>
                            <button class="btn btn-outline-danger col-md-3" type="button" onclick="clearForm()">Clear Form</button>
                            @Html.ActionLink("Login", "Login","Login", null, new { @class = "btn btn-outline-success col-md-3" })
                        </div>

                    </div>
                </div>
            </div>
        }

        <script>
            function clearForm() {
               
                var form = document.getElementById("employeeForm");

                for (var i = 0; i < form.elements.length; i++) {
                    var element = form.elements[i];
                    if (element.type !== "submit") {
                        element.value = "";
                    }
                }
            }
        </script>
    </body>
</html>
